#u1993
{
	border-color: #000000;
	background-color: #000000;
}

#u8165
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u8149-9
{
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
}

#u8149-2
{
	font-size: 18px;
	line-height: 25px;
}

#u8149-4,#u8149-7
{
	line-height: 19px;
}

#u2776
{
	background-color: transparent;
	position: relative;
}

#u2776:hover
{
	background-color: transparent;
}

#u1993_align_to_page,#u8170,#u2782,#u2778,#u2780
{
	position: relative;
}

