.version.como_llegar /* version checker */
{
	color: #0000FC;
	background-color: #D67CD9;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 585px;
	border-style: none;
	border-color: #000000;
	background: transparent url("../../images/fondo-movil.jpg") repeat-y center top;
}

#u13274
{
	z-index: 69;
	width: 380px;
	position: relative;
}

#pamphletu12999
{
	z-index: 46;
	width: 0.01px;
	height: 13px;
	padding-bottom: 131px;
	margin-top: 5px;
	position: relative;
}

#u13006
{
	z-index: 47;
	width: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 359px;
}

#u13008
{
	position: absolute;
	width: 1px;
	height: 2px;
	border-color: #DEDEDE;
	background-color: transparent;
	left: 15px;
}

.ie #u13008
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13008:hover
{
	border-color: #999999;
	margin: 0px;
}

.ie #u13008:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13008.PamphletThumbSelected
{
	border-color: #999999;
	background-color: transparent;
	margin: 0px;
}

#u13007
{
	position: absolute;
	width: 2px;
	height: 2px;
	border-color: #C4C4C4;
	background-color: transparent;
	top: 6px;
}

.ie #u13008.PamphletThumbSelected,.ie #u13007
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13007:hover
{
	border-color: #999999;
	margin: 0px;
}

.ie #u13007:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13007.PamphletThumbSelected
{
	border-color: #999999;
	background-color: transparent;
	margin: 0px;
}

#u13009
{
	position: absolute;
	width: 380px;
}

#u13009popup
{
	z-index: 50;
}

#u13010
{
	z-index: 51;
	width: 380px;
	height: 144px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13011
{
	z-index: 52;
	width: 192px;
	position: relative;
	margin-right: -10000px;
	left: 94px;
}

#u13013
{
	z-index: 54;
	width: 380px;
	height: 144px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13014
{
	z-index: 55;
	width: 241px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 71px;
}

#u13154
{
	z-index: 15;
	height: 139px;
	border-color: #000000;
	background-color: #2E8EBF;
}

#u13154-bw
{
	z-index: 15;
	margin-top: -144px;
	margin-bottom: -139px;
	height: 139px;
}

#pu13016-4
{
	width: 0.01px;
	margin-top: -6px;
}

#u13016-4
{
	z-index: 27;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 328px;
	left: 6px;
}

#u13024
{
	z-index: 37;
	min-height: 186px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u13024-bw
{
	z-index: 37;
	min-height: 186px;
	margin-top: 64px;
	height: 186px;
}

#u13021-4
{
	z-index: 38;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 5px;
}

#u13022
{
	z-index: 57;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 69px;
}

#u13022:hover
{
	background-color: transparent;
	margin: 269px -10000px 0px 0px;
}

#u13139
{
	z-index: 59;
	width: 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	left: 208px;
}

#u13150
{
	z-index: 61;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 280px;
}

#u13152
{
	z-index: 63;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 139px;
}

#u13145-4
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 5px;
}

#u15505
{
	z-index: 133;
	width: 386px;
	position: relative;
	margin-right: -10000px;
}

#u15505_clip
{
	overflow: hidden;
	width: 386px;
	height: 61px;
}

#u15505_img
{
	margin-left: -799px;
}

#accordionu15507wrapper
{
	min-height: 353px;
	z-index: 135;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
}

#accordionu15507
{
	z-index: 135;
	width: 362px;
	position: relative;
}

#u15508
{
	z-index: 136;
	width: 362px;
	position: relative;
}

#u15509
{
	z-index: 138;
	height: 34px;
	width: 362px;
	vertical-align: top;
	position: relative;
	background: url("../../images/u15509.png") no-repeat 0px 0px;
}

#u15509:hover
{
	background: url("../../images/u15509-r.png") no-repeat 0px 0px;
}

#u15509:active
{
	background: url("../../images/u15509-m.png") no-repeat 0px 0px;
}

#u15509.AccordionPanelTabOpen
{
	background: url("../../images/u15509-a.png") no-repeat 0px 0px;
}

#u15510
{
	z-index: 142;
	width: 362px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#menuu15511
{
	z-index: 143;
	width: 360px;
	position: relative;
	margin-right: -10000px;
}

#u15526
{
	width: 360px;
	position: relative;
}

#u15527
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u15541
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u15536
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u15520
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u15520.MuseMenuActive
{
	background-color: #348FBD;
	margin: 0px -10000px 0px 0px;
}

#u15523-4
{
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 0px;
}

#u16808
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u17111
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u15515
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u15528-4,#u15542-4,#u15539-4,#u16810-4,#u17114-4,#u15516-4
{
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u15528-4_clip,#u15542-4_clip,#u15539-4_clip,#u15523-4_clip,#u16810-4_clip,#u17114-4_clip,#u15516-4_clip
{
	overflow: hidden;
	width: 360px;
	height: 17px;
	vertical-align: top;
}

#u15528-4_img,#u15542-4_img,#u15539-4_img,#u15523-4_img,#u16810-4_img,#u17114-4_img,#u15516-4_img
{
	display: block;
}

#u15540,#u15533,#u15519,#u16807,#u17108,#u15512,#u15561
{
	width: 360px;
	margin-top: 2px;
	position: relative;
}

#u15564
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
}

#u15527:hover,#u15541:hover,#u15536:hover,#u16808:hover,#u17111:hover,#u15515:hover,#u15564:hover
{
	background-color: #DE5A39;
	margin: 0px -10000px 0px 0px;
}

#u15567
{
	height: 17px;
	width: 360px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	background: url("../../images/u15567.png") no-repeat 0px 0px;
}

#u15564.MuseMenuActive #u15567
{
	background: url("../../images/u15567-a.png") no-repeat 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton,.MenuItem,.AccordionPanelTab /* pamphlet2 */
{
	cursor: pointer;
}

#u12998-11
{
	z-index: 16;
	width: 369px;
	min-height: 74px;
	color: #2E8EBF;
	text-align: justify;
	margin-left: 6px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u12998-2,#u12998-4
{
	font-weight: bold;
}

#u12998-5
{
	color: #E05932;
	font-weight: bold;
}

#u12998-9
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u12998-8
{
	font-size: 11px;
	color: #E05932;
	font-weight: bold;
	line-height: 13px;
}

#pamphletu13362
{
	z-index: 109;
	width: 0.01px;
	height: 60px;
	padding-bottom: 394px;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#u13367
{
	z-index: 110;
	width: 365px;
	position: relative;
	margin-right: -10000px;
}

#u13368
{
	position: absolute;
	width: 298px;
	height: 45px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 7px;
}

.ie #u13007.PamphletThumbSelected,.ie #u13368
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13368:hover
{
	border-color: #999999;
	margin: 0px;
}

.ie #u13368:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13368.PamphletThumbSelected
{
	border-color: #999999;
	background-color: transparent;
	margin: 0px;
}

#u13370
{
	position: absolute;
	width: 60px;
	height: 60px;
	border-color: #C4C4C4;
	left: 305px;
	background: transparent url("../../images/google_maps-u13370-fr.png") no-repeat center center;
	background-size: cover;
}

#u13370:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	margin: 0px;
	background-size: cover;
}

#u13371
{
	position: absolute;
	width: 380px;
	top: 70px;
}

#u13371popup
{
	z-index: 113;
}

#u13373
{
	z-index: 114;
	width: 380px;
	height: 384px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13377
{
	z-index: 115;
	width: 267px;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 55px;
}

#u13379-6
{
	z-index: 117;
	width: 262px;
	min-height: 57px;
	line-height: 14px;
	color: #348FBD;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
	left: 58px;
}

#u13380
{
	z-index: 123;
	width: 34px;
	-webkit-transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-2);
	-ms-transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-2);
	-o-transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-2);
	transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 47px;
}

#u13382
{
	z-index: 125;
	width: 34px;
	-webkit-transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-2);
	-ms-transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-2);
	-o-transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-2);
	transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 298px;
}

#u13380_clip,#u13382_clip
{
	overflow: hidden;
	width: 34px;
	height: 47px;
}

#u13380_img,#u13382_img
{
	margin-left: -1px;
}

#u13374
{
	z-index: 127;
	width: 380px;
	height: 384px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13405
{
	z-index: 128;
	width: 380px;
	min-height: 384px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13017
{
	z-index: 31;
	width: 298px;
	position: relative;
	margin-right: -10000px;
}

#u13147-4
{
	z-index: 33;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 9px;
}

#u13391-4
{
	z-index: 129;
	display: block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 12px;
	position: relative;
}

#pamphletu13322
{
	z-index: 77;
	width: 0.01px;
	height: 59px;
	padding-bottom: 396px;
	margin-top: 17px;
	position: relative;
}

#u13327
{
	z-index: 78;
	width: 366px;
	position: relative;
	margin-right: -10000px;
}

#u13328
{
	position: absolute;
	width: 295px;
	height: 45px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 8px;
}

.ie #u13368.PamphletThumbSelected,.ie #u13328
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13328:hover
{
	border-color: #999999;
	margin: 0px;
}

.ie #u13328:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13328.PamphletThumbSelected
{
	border-color: #999999;
	background-color: transparent;
	margin: 0px;
}

.ie #u13328.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13330
{
	position: absolute;
	width: 60px;
	height: 60px;
	border-color: #C4C4C4;
	left: 306px;
	background: transparent url("../../images/google_maps-u13370-fr.png") no-repeat center center;
	background-size: cover;
}

#u13330:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	margin: 0px;
	background-size: cover;
}

#u13370.PamphletThumbSelected,#u13330.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	background-color: transparent;
	margin: 0px;
	background-size: cover;
}

#u13331
{
	position: absolute;
	width: 380px;
	top: 63px;
}

#u13331popup
{
	z-index: 81;
}

#u13333
{
	z-index: 82;
	width: 271px;
	height: 245px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 28px 54px 120px 55px;
}

#u13337
{
	z-index: 83;
	width: 267px;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	margin-left: 2px;
	position: relative;
}

#u13339-6
{
	z-index: 85;
	width: 262px;
	min-height: 62px;
	line-height: 14px;
	color: #348FBD;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	margin-top: 6px;
	position: relative;
}

#u13341-6
{
	z-index: 91;
	width: 262px;
	min-height: 57px;
	line-height: 14px;
	color: #348FBD;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

#u13339,#u13341
{
	font-size: 1px;
	line-height: 0px;
}

#u13343-8
{
	z-index: 97;
	width: 262px;
	min-height: 45px;
	line-height: 14px;
	color: #348FBD;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

#u13334
{
	z-index: 107;
	width: 380px;
	height: 393px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13345
{
	z-index: 108;
	width: 380px;
	min-height: 384px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#pu13017,#pu13309
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: -454px;
}

#u13309
{
	z-index: 71;
	width: 298px;
	position: relative;
	margin-right: -10000px;
}

#u13311-4
{
	z-index: 73;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 9px;
}

#u13143-4
{
	z-index: 42;
	display: block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 17px;
	position: relative;
}

#pu16915
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 3px;
}

#u16915
{
	z-index: 191;
	width: 291px;
	position: relative;
	margin-right: -10000px;
}

#u16919-4
{
	z-index: 194;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 7px;
}

#pu16917
{
	width: 0.01px;
	margin-top: -1px;
}

#u16917
{
	z-index: 193;
	width: 380px;
	min-height: 254px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u16920-4
{
	z-index: 198;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 5px;
}

#u12368
{
	z-index: 2;
	padding-bottom: 7px;
}

#u12371
{
	z-index: 13;
	width: 65px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 27px;
}

#u12370
{
	z-index: 12;
	width: 1px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 109px;
}

#u12369-9
{
	z-index: 3;
	width: 242px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 126px;
}

#u12368-bw
{
	z-index: 2;
	height: 79px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

