.version.index /* version checker */
{
	color: #0000FE;
	background-color: #501348;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 584.8906796621848px;
	border-style: none;
	border-color: #000000;
	padding-bottom: 0px;
	background: transparent url("../../images/fondo-movil.jpg") repeat-y center top;
}

#u13262
{
	z-index: 123;
	width: 380px;
	position: relative;
}

#pamphletu12314
{
	z-index: 100;
	width: 0.01px;
	height: 13px;
	padding-bottom: 131px;
	margin-top: 5px;
	position: relative;
}

#u12325
{
	z-index: 101;
	width: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 359px;
}

#u12328
{
	position: absolute;
	width: 1px;
	height: 2px;
	border-color: #DEDEDE;
	background-color: transparent;
	left: 15px;
}

.ie #u12328
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12328:hover
{
	border-color: #999999;
	margin: 0px;
}

.ie #u12328:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12328.PamphletThumbSelected
{
	border-color: #999999;
	background-color: transparent;
	margin: 0px;
}

#u12327
{
	position: absolute;
	width: 2px;
	height: 2px;
	border-color: #C4C4C4;
	background-color: transparent;
	top: 6px;
}

.ie #u12328.PamphletThumbSelected,.ie #u12327
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12327:hover
{
	border-color: #999999;
	margin: 0px;
}

.ie #u12327:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12327.PamphletThumbSelected
{
	border-color: #999999;
	background-color: transparent;
	margin: 0px;
}

.ie #u12327.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12315
{
	position: absolute;
	width: 380px;
}

#u12315popup
{
	z-index: 104;
}

#u12318
{
	z-index: 105;
	width: 380px;
	height: 144px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12332
{
	z-index: 106;
	width: 192px;
	position: relative;
	margin-right: -10000px;
	left: 94px;
}

#u12316
{
	z-index: 108;
	width: 380px;
	height: 144px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12329
{
	z-index: 109;
	width: 241px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 71px;
}

#u12267
{
	z-index: 15;
	height: 139px;
	border-color: #000000;
	background-color: #2E8EBF;
}

#u12267-bw
{
	z-index: 15;
	margin-top: -144px;
	margin-bottom: -139px;
	height: 139px;
}

#pu12075-4
{
	width: 0.01px;
	margin-top: -6px;
}

#u12075-4
{
	z-index: 31;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 328px;
	left: 6px;
}

#u12253
{
	z-index: 87;
	min-height: 186px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u12253-bw
{
	z-index: 87;
	min-height: 186px;
	margin-top: 64px;
	height: 186px;
}

#u12257-4
{
	z-index: 88;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 5px;
}

#u12374
{
	z-index: 111;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 69px;
}

#u12374:hover
{
	background-color: transparent;
	margin: 269px -10000px 0px 0px;
}

#u12376
{
	z-index: 113;
	width: 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	left: 208px;
}

#u12378
{
	z-index: 115;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 280px;
}

#u12380
{
	z-index: 117;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 139px;
}

#u12386-4
{
	z-index: 119;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 5px;
}

#u15313
{
	z-index: 125;
	width: 386px;
	position: relative;
	margin-right: -10000px;
}

#u15313_clip
{
	overflow: hidden;
	width: 386px;
	height: 61px;
}

#u15313_img
{
	margin-left: -799px;
}

#accordionu15315wrapper
{
	min-height: 353px;
	z-index: 127;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
}

#accordionu15315
{
	z-index: 127;
	width: 362px;
	position: relative;
}

#u15316
{
	z-index: 128;
	width: 362px;
	position: relative;
}

#u15317
{
	z-index: 130;
	height: 34px;
	width: 362px;
	vertical-align: top;
	position: relative;
	background: url("../../images/u15317.png") no-repeat 0px 0px;
}

#u15317:hover
{
	background: url("../../images/u15317-r.png") no-repeat 0px 0px;
}

#u15317:active
{
	background: url("../../images/u15317-m.png") no-repeat 0px 0px;
}

#u15317.AccordionPanelTabOpen
{
	background: url("../../images/u15317-a.png") no-repeat 0px 0px;
}

#u15318
{
	z-index: 134;
	width: 362px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#menuu15319
{
	z-index: 135;
	width: 360px;
	position: relative;
	margin-right: -10000px;
}

#u15334
{
	width: 360px;
	position: relative;
}

#u15335
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u15335.MuseMenuActive
{
	background-color: #348FBD;
	margin: 0px -10000px 0px 0px;
}

#u15336-4
{
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 0px;
}

#u15349
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u15344
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u15328
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u16789
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u17090
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u15323
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u15350-4,#u15347-4,#u15331-4,#u16792-4,#u17091-4,#u15324-4
{
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u15336-4_clip,#u15350-4_clip,#u15347-4_clip,#u15331-4_clip,#u16792-4_clip,#u17091-4_clip,#u15324-4_clip
{
	overflow: hidden;
	width: 360px;
	height: 17px;
	vertical-align: top;
}

#u15336-4_img,#u15350-4_img,#u15347-4_img,#u15331-4_img,#u16792-4_img,#u17091-4_img,#u15324-4_img
{
	display: block;
}

#u15348,#u15341,#u15327,#u16786,#u17087,#u15320,#u15369
{
	width: 360px;
	margin-top: 2px;
	position: relative;
}

#u15372
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
}

#u15349:hover,#u15344:hover,#u15328:hover,#u16789:hover,#u17090:hover,#u15323:hover,#u15372:hover
{
	background-color: #DE5A39;
	margin: 0px -10000px 0px 0px;
}

#u15375
{
	height: 17px;
	width: 360px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	background: url("../../images/u15375.png") no-repeat 0px 0px;
}

#u15372.MuseMenuActive #u15375
{
	background: url("../../images/u15375-a.png") no-repeat 0px 0px;
}

#pu12074-15
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: -1px;
}

#u12074-15
{
	z-index: 16;
	width: 369px;
	min-height: 301px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u12074-2,#u12074-4
{
	font-weight: bold;
}

#u12074-6,#u12074-7,#u12074-9,#u12074-10,#u12074-12
{
	text-align: justify;
	color: #278DC1;
}

#u12258-4
{
	z-index: 92;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 296px;
}

#pu12077
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 3px;
}

#u12077
{
	z-index: 35;
	width: 298px;
	position: relative;
	margin-right: -10000px;
}

#u12079-4
{
	z-index: 37;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 10px;
}

#slideshowu12085
{
	z-index: 41;
	width: 0.01px;
	height: 231px;
	margin-left: 5px;
	margin-top: 5px;
	position: relative;
}

#u12088
{
	position: absolute;
	width: 372px;
	height: 231px;
	background-color: transparent;
}

#u12088popup
{
	z-index: 42;
}

#u12097
{
	z-index: 43;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12103
{
	z-index: 45;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12127
{
	z-index: 47;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12109
{
	z-index: 49;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12125
{
	z-index: 51;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12119
{
	z-index: 53;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12121
{
	z-index: 55;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12099
{
	z-index: 57;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12107
{
	z-index: 59;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12089
{
	z-index: 61;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12093
{
	z-index: 63;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12129
{
	z-index: 65;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12095
{
	z-index: 67;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12111
{
	z-index: 69;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12091
{
	z-index: 71;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12115
{
	z-index: 73;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12123
{
	z-index: 75;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12105
{
	z-index: 77;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12101
{
	z-index: 79;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12117
{
	z-index: 81;
	width: 372px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12097_clip,#u12103_clip,#u12127_clip,#u12109_clip,#u12125_clip,#u12119_clip,#u12121_clip,#u12099_clip,#u12107_clip,#u12089_clip,#u12093_clip,#u12129_clip,#u12095_clip,#u12111_clip,#u12091_clip,#u12115_clip,#u12123_clip,#u12105_clip,#u12101_clip,#u12117_clip
{
	overflow: hidden;
	width: 372px;
	height: 231px;
}

#u12097_img,#u12103_img,#u12127_img,#u12109_img,#u12125_img,#u12119_img,#u12121_img,#u12099_img,#u12107_img,#u12089_img,#u12093_img,#u12129_img,#u12095_img,#u12111_img,#u12091_img,#u12115_img,#u12123_img,#u12105_img,#u12101_img,#u12117_img
{
	margin-top: -9px;
	margin-bottom: -8px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton,.MenuItem,.AccordionPanelTab,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u12247-4
{
	z-index: 83;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u12259-4
{
	z-index: 96;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#pu12247-4,#pu16894
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: -3px;
}

#u16894
{
	z-index: 183;
	width: 291px;
	position: relative;
	margin-right: -10000px;
}

#u16898-4
{
	z-index: 186;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 7px;
}

#pu16896
{
	width: 0.01px;
	margin-top: -1px;
}

#u16896
{
	z-index: 185;
	width: 380px;
	min-height: 254px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u16899-4
{
	z-index: 190;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 244px;
	left: 5px;
}

#u12368
{
	z-index: 2;
	padding-bottom: 7px;
}

#u12371
{
	z-index: 13;
	width: 65px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 27px;
}

#u12370
{
	z-index: 12;
	width: 1px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 109px;
}

#u12369-9
{
	z-index: 3;
	width: 242px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 126px;
}

#u12368-bw
{
	z-index: 2;
	height: 79px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

