#u12368
{
	border-color: #000000;
	background-color: #000000;
}

#u12371
{
	position: relative;
}

#u12370
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u12369-9
{
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
}

#u12369-2
{
	font-size: 18px;
	line-height: 25px;
}

#u12369-4,#u12369-7
{
	line-height: 19px;
}

