.version.que_es_expo_ucn /* version checker */
{
	color: #0000EC;
	background-color: #066EF1;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 584.9906796621849px;
	border-style: none;
	border-color: #000000;
	padding-bottom: 0px;
	background: transparent url("../../images/fondo-movil.jpg") repeat-y center top;
}

#u13268
{
	z-index: 110;
	width: 380px;
	position: relative;
}

#pamphletu12921
{
	z-index: 87;
	width: 0.01px;
	height: 13px;
	padding-bottom: 131px;
	margin-top: 5px;
	position: relative;
}

#u12931
{
	z-index: 88;
	width: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 359px;
}

#u12932
{
	position: absolute;
	width: 1px;
	height: 2px;
	border-color: #DEDEDE;
	background-color: transparent;
	left: 15px;
}

.ie #u12932
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12932:hover
{
	border-color: #999999;
	margin: 0px;
}

.ie #u12932:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12932.PamphletThumbSelected
{
	border-color: #999999;
	background-color: transparent;
	margin: 0px;
}

#u12933
{
	position: absolute;
	width: 2px;
	height: 2px;
	border-color: #C4C4C4;
	background-color: transparent;
	top: 6px;
}

.ie #u12932.PamphletThumbSelected,.ie #u12933
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12933:hover
{
	border-color: #999999;
	margin: 0px;
}

.ie #u12933:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12933.PamphletThumbSelected
{
	border-color: #999999;
	background-color: transparent;
	margin: 0px;
}

.ie #u12933.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12924
{
	position: absolute;
	width: 380px;
}

#u12924popup
{
	z-index: 91;
}

#u12925
{
	z-index: 92;
	width: 380px;
	height: 144px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12926
{
	z-index: 93;
	width: 192px;
	position: relative;
	margin-right: -10000px;
	left: 94px;
}

#u12928
{
	z-index: 95;
	width: 380px;
	height: 144px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12929
{
	z-index: 96;
	width: 241px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 71px;
}

#u12917
{
	z-index: 81;
	height: 139px;
	border-color: #000000;
	background-color: #2E8EBF;
}

#u12917-bw
{
	z-index: 81;
	margin-top: -144px;
	margin-bottom: -139px;
	height: 139px;
}

#pu12918
{
	width: 0.01px;
	margin-top: -6px;
}

#u12918
{
	z-index: 82;
	min-height: 186px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u12918-bw
{
	z-index: 82;
	min-height: 186px;
	margin-top: 64px;
	height: 186px;
}

#u12920-4
{
	z-index: 83;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 5px;
}

#u12940
{
	z-index: 98;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 69px;
}

#u12940:hover
{
	background-color: transparent;
	margin: 269px -10000px 0px 0px;
}

#u12942
{
	z-index: 100;
	width: 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	left: 208px;
}

#u12944
{
	z-index: 102;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 280px;
}

#u12946
{
	z-index: 104;
	width: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 139px;
}

#u12948-4
{
	z-index: 106;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 5px;
}

#u15377
{
	z-index: 112;
	width: 386px;
	position: relative;
	margin-right: -10000px;
}

#u15377_clip
{
	overflow: hidden;
	width: 386px;
	height: 61px;
}

#u15377_img
{
	margin-left: -799px;
}

#accordionu15379wrapper
{
	min-height: 353px;
	z-index: 114;
	margin-bottom: -36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
}

#accordionu15379
{
	z-index: 114;
	width: 362px;
	position: relative;
}

#u15380
{
	z-index: 115;
	width: 362px;
	position: relative;
}

#u15381
{
	z-index: 117;
	height: 34px;
	width: 362px;
	vertical-align: top;
	position: relative;
	background: url("../../images/u15381.png") no-repeat 0px 0px;
}

#u15381:hover
{
	background: url("../../images/u15381-r.png") no-repeat 0px 0px;
}

#u15381:active
{
	background: url("../../images/u15381-m.png") no-repeat 0px 0px;
}

#u15381.AccordionPanelTabOpen
{
	background: url("../../images/u15381-a.png") no-repeat 0px 0px;
}

#u15382
{
	z-index: 121;
	width: 362px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#menuu15383
{
	z-index: 122;
	width: 360px;
	position: relative;
	margin-right: -10000px;
}

#u15398
{
	width: 360px;
	position: relative;
}

#u15399
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u15413
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u15413.MuseMenuActive
{
	background-color: #348FBD;
	margin: 0px -10000px 0px 0px;
}

#u15414-4
{
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 0px;
}

#u15408
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u15392
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u16794
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u17097
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u15387
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u15400-4,#u15411-4,#u15395-4,#u16796-4,#u17098-4,#u15388-4
{
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u15400-4_clip,#u15414-4_clip,#u15411-4_clip,#u15395-4_clip,#u16796-4_clip,#u17098-4_clip,#u15388-4_clip
{
	overflow: hidden;
	width: 360px;
	height: 17px;
	vertical-align: top;
}

#u15400-4_img,#u15414-4_img,#u15411-4_img,#u15395-4_img,#u16796-4_img,#u17098-4_img,#u15388-4_img
{
	display: block;
}

#u15412,#u15405,#u15391,#u16793,#u17094,#u15384,#u15433
{
	width: 360px;
	margin-top: 2px;
	position: relative;
}

#u15436
{
	width: 360px;
	min-height: 17px;
	background-color: #E05932;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
}

#u15399:hover,#u15408:hover,#u15392:hover,#u16794:hover,#u17097:hover,#u15387:hover,#u15436:hover
{
	background-color: #DE5A39;
	margin: 0px -10000px 0px 0px;
}

#u15439
{
	height: 17px;
	width: 360px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	background: url("../../images/u15439.png") no-repeat 0px 0px;
}

#u15436.MuseMenuActive #u15439
{
	background: url("../../images/u15439-a.png") no-repeat 0px 0px;
}

#u12643-4
{
	z-index: 55;
	display: block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 35px;
	position: relative;
}

#u12430-36
{
	z-index: 15;
	width: 369px;
	min-height: 301px;
	margin-left: 6px;
	margin-top: 2px;
	position: relative;
}

#u12430-17
{
	text-align: justify;
	color: #278DC1;
	font-weight: bold;
}

#u12430-20,#u12430-21,#u12430-23,#u12430-24,#u12430-26,#u12430-27,#u12430-29,#u12430-30
{
	font-size: 14px;
	text-align: justify;
	color: #278DC1;
	font-weight: bold;
}

#u12430-7,#u12430-8,#u12430-14,#u12430-15,#u12430-18,#u12430-33
{
	text-align: justify;
	color: #278DC1;
}

#u12430,#u12430-3,#u12430-5,#u12430-10,#u12430-12,#u12430-31
{
	font-weight: bold;
}

#slideshowu12648
{
	z-index: 59;
	width: 0.01px;
	height: 215px;
	margin-left: 6px;
	margin-top: 9px;
	position: relative;
}

#u12686
{
	position: absolute;
	width: 369px;
	height: 215px;
	background-color: transparent;
}

#u12686popup
{
	z-index: 60;
}

#u12687
{
	z-index: 61;
	width: 369px;
	height: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12691
{
	z-index: 63;
	width: 369px;
	height: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12693
{
	z-index: 65;
	width: 369px;
	height: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12699
{
	z-index: 67;
	width: 369px;
	height: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12697
{
	z-index: 69;
	width: 369px;
	height: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12705
{
	z-index: 71;
	width: 369px;
	height: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12701
{
	z-index: 73;
	width: 369px;
	height: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12703
{
	z-index: 75;
	width: 369px;
	height: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12689
{
	z-index: 77;
	width: 369px;
	height: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12689_img
{
	margin: -12px -4px -25px -5px;
}

#u12695
{
	z-index: 79;
	width: 369px;
	height: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12687_clip,#u12691_clip,#u12693_clip,#u12699_clip,#u12697_clip,#u12705_clip,#u12701_clip,#u12703_clip,#u12689_clip,#u12695_clip
{
	overflow: hidden;
	width: 369px;
	height: 215px;
}

#u12687_img,#u12691_img,#u12693_img,#u12699_img,#u12697_img,#u12705_img,#u12701_img,#u12703_img,#u12695_img
{
	margin-top: -15px;
	margin-bottom: -16px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton,.MenuItem,.AccordionPanelTab,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u12451-4
{
	z-index: 51;
	display: block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 8px;
	position: relative;
}

#pu16901
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 8px;
}

#u16901
{
	z-index: 170;
	width: 291px;
	position: relative;
	margin-right: -10000px;
}

#u16905-4
{
	z-index: 173;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 7px;
}

#pu16903
{
	width: 0.01px;
	margin-top: -1px;
}

#u16903
{
	z-index: 172;
	width: 380px;
	min-height: 254px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u16906-4
{
	z-index: 177;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 5px;
}

#u12368
{
	z-index: 2;
	padding-bottom: 7px;
}

#u12371
{
	z-index: 13;
	width: 65px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 27px;
}

#u12370
{
	z-index: 12;
	width: 1px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 109px;
}

#u12369-9
{
	z-index: 3;
	width: 242px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 126px;
}

#u12368-bw
{
	z-index: 2;
	height: 79px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

