#u11967
{
	border-color: #000000;
	background-color: #000000;
}

#u12070
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u12069-9
{
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
}

#u12069-2
{
	font-size: 18px;
	line-height: 25px;
}

#u12069-4,#u12069-7
{
	line-height: 19px;
}

#u11968
{
	background-color: transparent;
	position: relative;
}

#u11968:hover
{
	background-color: transparent;
}

#u12071,#u11974,#u11970,#u11972
{
	position: relative;
}

